*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #085756;

}
button{
    width: 100px;
    height: 40px;
    background-color: #61A8D0;
    color: white;
    border-radius: 10px;
    margin: 20px;
}
.content{
    padding: 10px;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #7D644F;
}